.drag-group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
.drag-group-options-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100%;
  justify-content: center;
}
  
.drag-group-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  justify-items: center;
}
  
.drag-group {
  width: 170px;
  min-height: 150px;
  padding: 20px;
  border: none; /* Start clean */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.drag-group:nth-child(1),
.drag-group:nth-child(3) {
  border-right: 2px solid black;
}

/* Add BOTTOM border to top row (index 0 and 1) */
.drag-group:nth-child(1),
.drag-group:nth-child(2) {
  border-bottom: 2px solid black;
}

.drag-group.color-0 {
  background-color: rgb(214, 247, 196);
}

.drag-group.color-1 {
  background-color: rgb(200, 232, 184);
}

.drag-group.color-2 {
  background-color: rgb(185, 212, 171);
}

.drag-group.color-3 {
  background-color: rgb(150, 175, 137);
}

.drag-item2 {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000;
  margin: 5px;
  cursor: grab;
  text-align: center;
  width: 80px;
}