.rotated-grid-container {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    transform: rotate(45deg); /* Rotate the entire grid */
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
.rotated-grid-row {
  display: flex;
  justify-content: center;
}

.rotated-grid-cell {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  background-color: ivory;
  position: relative;
  overflow: hidden;
  line-height: normal;
  word-break: break-word;
}

.rotated-grid-cell span {
  transform: rotate(-45deg);
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 80%;
}

.rotated-grid-cell:hover {
  background-color: rgb(150, 175, 137);
}

.rotated-grid-cell.selected {
  background-color: rgb(214, 247, 196);
}

.rotated-grid-start-image {
  width: 50px;
  height: 50px;
  transform: rotate(-45deg);
  padding-left: 0px;
  padding-right: 6px;
}

.rotated-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 0px;
}

.rotated-grid-row-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 95px; /* increase spacing between left/center/right */
  width: 100%; /* allow full horizontal width */
}

.direction-label {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.top-label,
.bottom-label {
  text-align: center;
  padding-right: 15px;
}

.left-label,
.right-label {
  text-align: center;
}