.intro-page {
    text-align: left;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    max-width: 700px;
    max-height: 600px;
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
    color: #111;
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .highlight {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .highlight-title {
    font-weight: bold;
  }
  
  .highlight-purple {
    color: rgb(106, 141, 90);
    font-weight: bold;
  }
  
  .language-button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
  }
  
  .language-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: ivory;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .language-button.active {
    background-color: rgb(214, 247, 196);
  }
  
  .language-button:hover {
    background-color: rgb(150, 175, 137);
  }
  
  ul.guidelines {
    margin-left: 20px;
    margin-top: 10px;
  }
  
  ul.guidelines li {
    margin-bottom: 8px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  
  .welcome-next-button,
  .welcome-prev-button {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: ivory;
    color: black;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    border: 1px solid black;
  }
  
  .welcome-next-button:hover,
  .welcome-prev-button:hover {
    background-color: rgb(183, 183, 170);
  }
  
  .footer-note {
    font-size: 12px;
    color: gray;
    margin-top: 1xs0px;
    text-align: center;
  }